<template>
  <q-page class="row">
    <div style="width: 100%">
      <div class="row items-center justify-between q-pa-md">
        <div class="row items-center">
          <q-icon name="image" size="1.5rem" />
          <div class="text-h6 q-ml-sm">Advertisement Banners</div>
        </div>
        <div>
          <q-btn
            unelevated
            no-caps
            size="md"
            color="primary"
            icon="add"
            label="Create Advertisement Banner"
            @click="()=>{
              ($refs as any).form_dialog?.showDialog()
            }"
          />
        </div>
      </div>
      <q-separator />
      <q-table
        :rows="store.banners"
        :columns="columns"
        row-key="id"
        dense
        flat
        rows-per-page-label="Banners per page"
      >
        <template v-slot:body-cell-avatar="props">
          <q-td :props="props">
            <img
              style="height: 60px"
              :ratio="16 / 9"
              :src="props.row.avatar"
              :alt="props.row.id"
            />
          </q-td>
        </template>
        <template v-slot:body-cell-product="props">
          <q-td :props="props">
            <q-chip color="rgb(194, 194, 194)">
              {{ props.row.product }}
            </q-chip>
          </q-td>
        </template>
        <template v-slot:body-cell-places="props">
          <q-td :props="props">
            {{
              props.row.product === ProductType.FLIGHT
                ? `${props.row.departure} - ${props.row.arrival}`
                : props.row.destination
            }}
          </q-td>
        </template>
        <template v-slot:body-cell-dateFrom="props">
          <q-td :props="props">
            {{ formatDate(props.row.dateFrom) }}
          </q-td>
        </template>
        <template v-slot:body-cell-dateTo="props">
          <q-td :props="props">
            {{ formatDate(props.row.dateTo) }}
          </q-td>
        </template>
        <template v-slot:body-cell-enabled="props">
          <q-td :props="props">
            <q-toggle
              v-model="props.row.enabled"
              color="primary"
              keep-color
              @update:model-value="
                store.updateBanner(props.row.id, { enabled: $event })
              "
            />
          </q-td>
        </template>
        <template v-slot:body-cell-actions="props">
          <q-td :props="props">
            <q-btn
              dense
              round
              flat
              color="blue"
              @click="($refs as any).form_dialog?.showDialog(props.row)"
              icon="edit"
            ></q-btn>
            <q-btn
              dense
              round
              flat
              color="red"
              @click="onClickDeleteItem(props.row.id)"
              icon="delete"
            ></q-btn>
          </q-td> </template
      ></q-table>
    </div>
    <form-dialog ref="form_dialog" />
  </q-page>
</template>

<script lang="ts">
import { ProductType } from 'src/components/models';
import { defineComponent } from 'vue';
import { formatDate } from 'src/utils/timeUtil';
import { useBannerStore } from 'src/stores/banner-store';
import FormDialog from 'src/components/FormDialog.vue';
import { showConfirmDialog } from 'src/utils/dialogUtil';

const columns: any[] = [
  {
    name: 'avatar',
    label: 'Avatar',
    field: 'avatar',
    required: true,
    align: 'left',
  },
  {
    name: 'product',
    label: 'Product',
    field: 'product',
    required: true,
    align: 'center',
  },
  {
    name: 'places',
    label: 'Places',
    field: 'places',
    required: true,
    align: 'left',
  },
  {
    name: 'dateFrom',
    label: 'Date From',
    field: 'dateFrom',
    required: true,
    align: 'left',
  },
  {
    name: 'dateTo',
    label: 'Date To',
    field: 'dateTo',
    required: true,
    align: 'left',
  },
  {
    name: 'enabled',
    label: 'Enabled',
    field: 'enabled',
    required: true,
    align: 'center',
  },
  {
    name: 'actions',
    label: '',
    field: 'actions',
    align: 'right',
    style: 'width: 300px',
    headerStyle: 'width: 300px',
  },
];

export default defineComponent({
  name: 'AdBannerPage',
  components: {
    FormDialog,
  },
  setup() {
    const store = useBannerStore();
    store.fetchBanners();

    const onClickDeleteItem = (id: string) => {
      showConfirmDialog('Are you sure you want to delete this banner?', () => {
        store.deleteBanner(id);
      });
    };

    return {
      store,
      ProductType,
      formatDate,
      onClickDeleteItem,
      columns,
    };
  },
});
</script>
src/utils/dialogUtil
