<template>
  <q-page class="row">
    <div class="text-center q-pa-md flex flex-center" style="width: 100%">
      <div>
        <div class="text-h2 black" style="opacity: 0.4">
          Oops. Nothing here...
        </div>
      </div>
    </div>
  </q-page>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'ErrorNotFound',
});
</script>
