<template lang="">
  <q-field :label="label" :model-value="modelValue" hide-bottom-space>
    <template v-slot:control>
      {{ date }}
    </template>
    <template v-slot:append>
      <q-icon name="event" />
    </template>
    <q-popup-proxy
      ref="popup_proxy"
      transition-show="scale"
      transition-hide="scale"
    >
      <q-date
        minimal
        ref="date_picker"
        @update:model-value="handleDateChanged"
        v-model="date"
        mask="YYYY-MM-DD"
      />
    </q-popup-proxy>
  </q-field>
</template>
<script lang="ts" setup>
import { ref } from 'vue';
const props = defineProps({
  modelValue: {
    type: String,
    required: true,
  },
  label: {
    type: String,
    required: true,
  },
});

const emit = defineEmits(['update:modelValue']);

const date = ref(props.modelValue);
const popup_proxy = ref();

const handleDateChanged = (value: string) => {
  date.value = value;
  popup_proxy.value?.hide();
  emit('update:modelValue', value);
};
</script>
