<template>
  <q-dialog v-model="isShowDialog" @hide="onCloseDialog" persistent>
    <q-card style="width: 1000px; max-width: 80vw">
      <q-item>
        <q-item-section>
          <div class="text-h6">Create Advertisement Banner</div>
        </q-item-section>

        <q-item-section avatar>
          <q-btn icon="close" flat round dense v-close-popup />
        </q-item-section>
        <q-space />
      </q-item>

      <q-separator />
      <q-form @submit="onSubmit">
        <q-card-section style="max-height: 50vh" class="scroll">
          <div class="row q-col-gutter-x-md">
            <div class="col-12 col-md-6">
              <div class="text-h6 text-blue">General Information</div>
              <q-select
                v-model="product"
                :options="products"
                label="Product"
                :rules="rules.product"
                hide-bottom-space
              />
              <div
                v-show="product === ProductType.FLIGHT"
                class="row q-col-gutter-md"
              >
                <div class="col-12 col-md-6">
                  <q-select
                    v-model="departure"
                    :options="departures"
                    label="Departure"
                    :rules="
                      product === ProductType.FLIGHT ? rules.departure : []
                    "
                    hide-bottom-space
                  />
                </div>
                <div class="col-12 col-md-6">
                  <q-select
                    v-model="arrival"
                    :options="arrivals"
                    label="Arrival"
                    :rules="product === ProductType.FLIGHT ? rules.arrival : []"
                    hide-bottom-space
                  />
                </div>
              </div>
              <q-select
                v-show="product === ProductType.HOTEL"
                v-model="destination"
                :options="destinations"
                label="Destination"
                :rules="product === ProductType.HOTEL ? rules.destination : []"
                hide-bottom-space
              />

              <q-input
                v-model="url"
                label="URL"
                placeholder="URL"
                :rules="rules.url"
                hide-bottom-space
              />
              <div class="row q-col-gutter-md">
                <div class="col-12 col-md-6">
                  <DatePickerField
                    v-model="dateFrom"
                    label="Date From"
                    :rules="rules.dateFrom"
                  />
                </div>
                <div class="col-12 col-md-6">
                  <DatePickerField
                    v-model="dateTo"
                    label="Date To"
                    :rules="rules.dateTo"
                  />
                </div>
              </div>
              <q-input
                v-model="rank"
                label="Rank"
                placeholder="Rank"
                :rules="rules.rank"
              />
            </div>
            <div class="col-12 col-md-6">
              <div class="row q-gutter-xs">
                <div class="row" style="width: 100%">
                  <div class="text-h6 text-blue" color="blue">Banner</div>
                  <q-space />
                  <q-btn
                    size="sm"
                    label="Upload"
                    color="primary"
                    @click="($refs as any).file_picker?.click()"
                  />
                </div>
                <div class="col-12">
                  <q-item-label caption>
                    * Banner size should be 200x500 or same ratio
                  </q-item-label>
                </div>
                <div class="col-12">
                  <q-item-label caption>
                    * Background should be transparent
                  </q-item-label>
                </div>
                <div class="col-12">
                  <img style="width: 200px" :src="avatar" alt="form" />
                </div>
              </div>
            </div>
          </div>
        </q-card-section>

        <q-card-actions align="right" class="q-pa-md">
          <q-btn flat label="Cancel" v-close-popup />
          <q-btn label="Submit" color="primary" type="submit" />
        </q-card-actions>
      </q-form>
    </q-card>
    <input
      id="file_input"
      style="display: none"
      accept="image/*"
      @change="uploadFile"
      type="file"
      ref="file_picker"
    />
  </q-dialog>
</template>
<script lang="ts">
import { ref, toRefs, defineComponent, reactive } from 'vue';
import { formatDate } from 'src/utils/timeUtil';
import { Banner, ProductType } from './models';
import DatePickerField from 'src/components/DatePickerField.vue';
import { useBannerStore } from 'src/stores/banner-store';
import { fileToBase64 } from 'src/utils/fileUtil';
import { notifyError, notifySuccess } from 'src/utils/notifyUtil';
import { DEFAULT_AVATAR } from 'src/constants/images';
import {
  generateRequiredRule,
  generateDateRule,
  generateUrlRule,
} from 'src/utils/validationUtil';

const products = [ProductType.FLIGHT, ProductType.HOTEL];
const departures = ['HAN', 'LAX', 'SFO', 'NYC'];
const arrivals = ['SGN', 'LHR', 'DFW', 'JFK'];
const destinations = ['Singapore', 'Thailand', 'Indonesia', 'Malaysia'];

export default defineComponent({
  name: 'FormDialog',
  components: {
    DatePickerField,
  },
  setup() {
    const store = useBannerStore();
    const {
      id,
      product,
      departure,
      arrival,
      destination,
      dateFrom,
      dateTo,
      url,
      rank,
      avatar,
      isShowDialog,
    } = toRefs(
      reactive({
        id: ref(),
        product: ref(),
        departure: ref(),
        arrival: ref(),
        destination: ref(),
        dateFrom: ref(),
        dateTo: ref(),
        url: ref(),
        rank: ref(),
        avatar: ref<any>(DEFAULT_AVATAR),
        isShowDialog: ref(false),
      })
    );

    const rules = reactive({
      product: [
        generateRequiredRule(),
        (val: ProductType) => products.includes(val),
      ],
      departure: [
        generateRequiredRule(),
        (val: string) => departures.includes(val) || 'Invalid departure',
      ],
      arrival: [
        generateRequiredRule(),
        (val: string) => arrivals.includes(val) || 'Invalid arrival',
      ],
      destination: [
        generateRequiredRule(),
        (val: string) => destinations.includes(val) || 'Invalid destination',
      ],
      dateFrom: [
        generateRequiredRule(),
        generateDateRule(),
        // (val: string) =>
        //   new Date(val) < new Date(dateTo.value) ||
        //   'Date From must be less than Date To',
      ],
      dateTo: [
        generateRequiredRule(),
        generateDateRule(),
        // (val: string) =>
        //   new Date(val) > new Date(dateFrom.value) ||
        //   'Date To must be greater than Date From',
      ],
      url: [generateRequiredRule(), generateUrlRule()],
      rank: [generateRequiredRule()],
    });

    const showDialog = (item?: Banner) => {
      if (item) {
        id.value = item.id;
        product.value = item.product;
        departure.value = item.departure;
        arrival.value = item.arrival;
        destination.value = item.destination;
        url.value = item.url;
        rank.value = item.rank;
        dateFrom.value = formatDate(item.dateFrom);
        dateTo.value = formatDate(item.dateTo);
        avatar.value = item.avatar;
      }
      isShowDialog.value = true;
    };

    const closeDialog = () => {
      isShowDialog.value = false;
    };

    const onCloseDialog = () => {
      id.value = undefined;
      product.value = undefined;
      departure.value = undefined;
      arrival.value = undefined;
      destination.value = undefined;
      url.value = undefined;
      rank.value = undefined;
      dateFrom.value = undefined;
      dateTo.value = undefined;
      avatar.value = DEFAULT_AVATAR;
    };

    const file_picker = ref();

    const uploadFile = async (event: any) => {
      const file = event.target.files[0];
      if (file) {
        fileToBase64(file)
          .then((base64String) => {
            avatar.value = base64String;
            notifySuccess('Avatar uploaded successfully');
          })
          .catch((error) => {
            file_picker.value.value = '';
            notifyError(error.message);
          });
      }
    };

    const onSubmit = () => {
      if (id.value) {
        store.updateBanner(id.value, {
          product: product.value,
          departure: departure.value,
          arrival: arrival.value,
          destination: destination.value,
          url: url.value,
          rank: rank.value,
          dateFrom: new Date(dateFrom.value).getTime(),
          dateTo: new Date(dateTo.value).getTime(),
          avatar: avatar.value,
        });
      } else {
        store.addBanner({
          product: product.value,
          departure: departure.value,
          arrival: arrival.value,
          destination: destination.value,
          url: url.value,
          rank: rank.value,
          dateFrom: new Date(dateFrom.value).getTime(),
          dateTo: new Date(dateTo.value).getTime(),
          enabled: true,
          avatar: avatar.value,
        });
      }
      closeDialog();
    };

    return {
      rules,
      ProductType,
      products,
      departures,
      arrivals,
      destinations,
      product,
      departure,
      arrival,
      destination,
      url,
      rank,
      dateFrom,
      dateTo,
      avatar,
      isShowDialog,
      showDialog,
      closeDialog,
      onCloseDialog,
      uploadFile,
      onSubmit,
      file_picker,
    };
  },
});
</script>
