<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn flat @click="toggleLeftDrawer" round dense icon="menu" />
        <q-toolbar-title>NATAS Admin</q-toolbar-title>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      :width="250"
      :breakpoint="500"
      overlay
      bordered
      behavior="mobile"
    >
      <q-scroll-area class="fit">
        <q-list>
          <EssentialLink
            v-for="link in essentialLinks"
            :key="link.title"
            v-bind="link"
            :selected="
              link.link === $route.path || ($route.path === '/' && link.default)
            "
          />
        </q-list>
      </q-scroll-area>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
import EssentialLink from 'components/EssentialLink.vue';

const linksList = [
  {
    title: 'General',
    icon: 'assignment',
    link: '/general',
  },
  {
    title: 'Products',
    icon: 'inventory',
    link: '/products',
  },
  {
    title: 'Packages',
    icon: 'folder_copy',
    link: '/packages',
  },
  {
    title: 'Suppliers',
    icon: 'settings_input_composite',
    link: '/suppliers',
  },
  {
    title: 'Languages',
    icon: 'translate',
    link: '/languages',
  },
  {
    title: 'Currencies',
    icon: 'price_change',
    link: '/currencies',
  },
  {
    title: 'Booking Questions',
    icon: 'badge',
    link: '/booking-questions',
  },
  {
    title: 'Markups',
    icon: 'keyboard_double_arrow_up',
    link: '/markups',
  },
  {
    title: 'Agency Types',
    icon: 'category',
    link: '/agency-types',
  },
  {
    title: 'Sub Agencies',
    icon: 'groups',
    link: '/sub-agencies',
  },
  {
    title: 'Bookings',
    icon: 'bookmarks',
    link: '/bookings',
  },
  {
    title: 'Flight Ticket Queuing',
    icon: 'airplane_ticket',
    link: '/flight-ticket-queuing',
  },
  {
    title: 'Advertisement Banners',
    icon: 'image',
    link: '/advertisement-banners',
    default: true,
  },
  {
    title: 'IAM',
    icon: 'shield',
    link: '/iam',
  },
];

export default defineComponent({
  name: 'MainLayout',

  components: {
    EssentialLink,
  },

  setup() {
    const leftDrawerOpen = ref(false);

    return {
      essentialLinks: linksList,
      leftDrawerOpen,
      toggleLeftDrawer() {
        leftDrawerOpen.value = !leftDrawerOpen.value;
      },
    };
  },
});
</script>
